<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74564800563-j6oc5977v745pdvo89co6m87ppdguqo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74564800563-j6oc5977v745pdvo89co6m87ppdguqo7</string>
	<key>API_KEY</key>
	<string>AIzaSyCD9MJQacFs0PbNIgg4RSKm4DTQAFY0YXk</string>
	<key>GCM_SENDER_ID</key>
	<string>74564800563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-b156f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-b156f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74564800563:ios:b29701a87dbe4ee90fd346</string>
</dict>
</plist>